<div class="container">
  <header class="header">
    <mat-toolbar color="primary">
      <span>Products list</span>
    </mat-toolbar>
  </header>

  <!--<aside class="sidebar">
    <mat-nav-list>
      <a mat-list-item href="#"> Dashboard </a>
      <a mat-list-item href="#"> Ustawienia </a>
    </mat-nav-list>
  </aside>-->

  <main class="content">
    <mat-card>
      <mat-card-content>

        <router-outlet></router-outlet>
        <!--<app-product-list-pagination></app-product-list-pagination>-->
        <!--<app-product-list></app-product-list>-->

      </mat-card-content>
    </mat-card>
  </main>

  <footer class="footer">
    <p>© 2026 System Dashboard</p>
  </footer>
</div>

